{% extends "base.html" %}

{% block extra_head %}
<style type="text/css" media="screen">
    #editor { 
        position: fixed;
        top: 120px;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
{% endblock extra_head %}

{% block extra_toolbar %}<a style="margin-left: 20px" href="#" class="btn btn-primary" id="save_record">Save</a>
<a href="." class="btn btn-primary">Cancel</a>
{% endblock extra_toolbar %}


{% block content %}
<h1>Editing <span style="font-size: 70%; float: right">last timestamp: {{record.timestamp}}</span></h1>
<div id="editor">{{record.data}}</div>
<script src="{{STATIC_URL}}ace/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/text");

    $('#save_record').click(function(e) {
        var data = editor.getValue();
        $.post('{% url "record-save" record.pk %}', 
            {'data':data, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            function(return_url) {
                document.location = return_url;
        });
    });
</script>
{% endblock content %}