{% extends "base.html" %}

{% block content %}

<h2 style="float:right"><a href="/collections/{{collection.pk}}/edits">Show Edits</a></h2>
<h1><a href="/collections/{{collection.pk}}/">{{collection.name}}</a></h1>

{% include "paginator.html" %}
<ul>
{% for record in object_list %}
    <li class="recordheading"><a href="/records/{{record.pk}}/">{{record.obj.SI.0}} &middot; {{record.obj.TI.0}}</a> {% if record.older.count > 0 %}<em>{{record.user.get_full_name}} &middot;  {{record.timestamp}}</em>{% endif %}</li>
{% empty %}
    <li>No records yet.</li>
{% endfor %}
</ul>

{% include "paginator.html" %}

{% endblock content %}