{% extends "base.html" %}
{% load utilz %}

{% block extra_toolbar %}{% if not user.is_anonymous %}<a style="margin-left: 20px" href="edit" class="btn btn-primary">Edit</a>{% endif %}
{% endblock extra_toolbar %}

{% block extra_head %}
<script src="{{ STATIC_URL }}openseadragon/openseadragon.min.js"></script>    
{% endblock extra_head %}

{% block content %}
    
    {% if object.newer %}
    <div class="rightfloaterbox">
    <h3>Newer version</h3>
    <a title="Newer version" href="{% url "record-detail" object.newer.pk %}">{{object.newer.timestamp}}</a></div>
    {% endif %}

    {% if object.ancestors %}
    <div id="older_versions" class="rightfloaterbox">
    <h3>Older versions</h3>
    {% for older in object.ancestors %}
        <a title="Older version" href="{% url 'record-detail' older.pk %}">{{older.timestamp}}</a>
        {% if not forloop.last %} &middot;&middot; {% endif %}
    {% endfor %}
    </div>
    {% endif %}

<table id="maintable">
{% for k,v in object.obj.items %}
<tr class="fieldrow">
    <td class="fieldheading">{% if k == 'VN' %}<a href="/collections/{{object.collection.pk}}/?q={{k}}:{{v.0}}">{{k}}</a>{% else %}{{k}}{% endif %}</td>
    <td>{% for vv in v %}{{vv|format_by_type:k}}{% endfor %}</td>
</tr>
{% endfor %}
</table>

<script type="text/javascript">
$('#show_older_versions').click(function(e) {
    $('#older_versions').show();
    $('#show_older_versions').hide();
});
</script>
{% endblock content %}