{% extends "base.html" %}

{% block extra_toolbar %}{% if not user.is_anonymous %}<a href="edit" class="btn">Edit</a>{% endif %}
{% endblock extra_toolbar %}


{% block content %}
{% if object.newer %}
    <h2><a title="Newer timestamp is: {{object.newer.timestamp}}" href="{% url "record-detail" object.newer.pk %}">There is a newer version for this record</a></h2>
{% endif %}
<table id="maintable">
{% for k,v in object.obj.items %}
<tr>
    <td>{{k}}</td>
    <td>{% for vv in v %}{{vv}}<br>{% endfor %} </td>
</tr>
{% endfor %}
</table>

<script type="text/javascript">
$('#maintable').click(function(e) {
    document.location = 'edit';
});
</script>
{% endblock content %}