{% if paginator %}
<div class="pagination">
    <span class="step-links">
        {{paginator.count}} found. 
{% if paginator.num_pages > 1 %}        
        {% if page_obj.number > 1 %}
        <a title="go to the first page" href="/collections/{{collection.pk}}/?page=1{% if q %}&q={{q|urlencode}}{% endif %}">1</a>
        {% endif %}

        {% if page_obj.has_previous %}
            <a href="/collections/{{collection.pk}}/?page={{ page_obj.previous_page_number }}{% if q %}&q={{q|urlencode}}{% endif %}">&lt;&lt;</a>
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="/collections/{{collection.pk}}/?page={{ page_obj.next_page_number }}{% if q %}&q={{q|urlencode}}{% endif %}">&gt;&gt;</a>
        {% endif %}

        {% if page_obj.number < paginator.num_pages %}
        <a title="go to the last page" href="/collections/{{collection.pk}}/?page={{ paginator.num_pages }}{% if q %}&q={{q|urlencode}}{% endif %}">{{ paginator.num_pages }}</a>
        {% endif %}
{% endif %}
    </span>
</div>
{% endif %}